/* Guia de Estilos */

:root {
    /* Fontes */
    --ff-khand: "Raleway", serif;

    /* Cores */
    --cor-primaria: #56AEFF;
    --cor-secundaria: #316697;
    --preto: #000;
    --branco: #fff;
    
    --background: #262626;

    --botao: #f0f0f0;
    --botao-hover: #ddd;
}

/* Tags - Padrão */

body {
    font-family: var(--ff-khand);
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/* Menu */

.menu {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo {
    width: 50%;
    margin-top: 180px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
        
.menu-list {
    list-style-type: none;
    padding: 0;
}
        
.menu-list li {
    margin-bottom: 10px;

}
        
.menu-list a {
    text-decoration: none;
    color: var(--preto);
    display: block;
    padding: 10px;
    background-color: var(--botao);
    border-radius: 5px;
    width: 100%;   
    display: flex;
    justify-content: flex-start;
}
        
.menu-list a:hover {
    background-color: var(--botao-hover);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--cor-primaria);
}

.separador {
    width: 1px;
    height: 100vh;
    background-color: var(--cor-primaria);
    position: absolute;
    left: 225px;
    top: 0;
    position: fixed;
}

/* Menu Responsivo */

.menu-responsivo {
    display: none;
    background-color: var(--background);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu-list-responsivo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list-responsivo li {
    display: inline-block;
}

.menu-list-responsivo a {
    color: var(--branco);
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.menu-list-responsivo a:hover {
    background-color: var(--cor-secundaria);
}

/* Postagem */

h1{
    color: var(--branco);
    font-size: 30px;
    margin-left: 230px;
}

.container {
    margin-left: 480px;
}

/* Media Queries */

/* Celulares pequenos */
@media (max-width: 479px) {
    .menu {
        display: none;
    }

    .separador {
        display: none;
    }

    .menu-responsivo {
        display: flex;
    }
}
  
/* Celulares e tablets pequenos */
@media (min-width: 480px) and (max-width: 767px) {
    .menu {
        display: none;
    }

    .separador {
        display: none;
    }

    .menu-responsivo {
        display: flex;
    }
}
  
/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .menu {
        display: none;
    }

    .separador {
        display: none;
    }

    .menu-responsivo {
        display: flex;
    }

    .texto {
        font-size: 20px;
        justify-content: flex-start;
        margin-left: 0;
    }

    .container-criar {
        margin-left: 0;
        justify-content: center;
    }
}
