/* Guia de Estilos */

:root {
    /* Fontes */
    --ff-khand: "Raleway", serif;

    /* Cores */
    --cor-primaria: #56AEFF;
    --cor-secundaria: #316697;
    --preto: #000;
    --branco: #fff;
    
    --background: #262626;

    --botao: #f0f0f0;
    --botao-hover: #ddd;
}

/* Tags - Padrão */

body {
    font-family: var(--ff-khand);
    margin: auto;
    padding: auto;
    background-color: var(--background);
}

/* Menu */

.menu {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 8px;
}

.logo {
    width: 50%;
    margin-top: 180px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
        
.menu-list {
    list-style-type: none;
    padding: 0;
}
        
.menu-list li {
    margin-bottom: 10px;

}
        
.menu-list a {
    text-decoration: none;
    color: var(--preto);
    display: block;
    padding: 10px;
    background-color: var(--botao);
    border-radius: 5px;
    width: 100%;   
    display: flex;
    justify-content: flex-start;
}
        
.menu-list a:hover {
    background-color: var(--botao-hover);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--cor-primaria);
}

.separador {
    width: 1px;
    height: 100vh;
    background-color: var(--cor-primaria);
    position: absolute;
    left: 225px;
    top: 0;
    position: fixed;
}

/* Menu Responsivo */

.menu-responsivo {
    display: none;
    background-color: var(--background);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu-list-responsivo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list-responsivo li {
    display: inline-block;
}

.menu-list-responsivo a {
    color: var(--branco);
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.menu-list-responsivo a:hover {
    background-color: var(--cor-secundaria);
}

/* Container principal */
.container-postagem {
    background-color: #1d1d1d;
    justify-content: center;
    align-items: center;
    margin-left: 650px;
    margin-right: 200px;
    margin-top: 260px;
    padding: 2rem;
    max-width: 800px;
    border-radius: 10px;
    top: -10px;
}

/* Título */
.h1-text h1 {
    font-size: 28px;
    color: var(--branco);
    margin-bottom: 20px;
    text-align: center;
}

/* Upload */
.image-upload-container {
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #e0e0e0;
    margin-top: 10px;
}

.icon-upload {
    font-size: 40px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.text-upload {
    font-size: 16px;
    color: #e0e0e0;
}

input[type="file"].hidden {
    display: none;
}

input[type="file"]:focus {
    outline: none;
}

.image-upload-container:hover {
    color: var(--cor-primaria);
    transition: color 0.3s ease;
}

/* Caixa de texto */
textarea {
    width: 100%;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: vertical;
    font-family: var(--ff-khand);
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
    min-height: 120px;
}

/* Botão */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

button {
    background-color: var(--cor-secundaria);
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-left: 30px;
}

button:hover {
    background-color: #255a75;
}

button:focus {
    outline: none;
}

/* Media Queries */

/* Celulares pequenos */
@media (max-width: 419px) {
    .menu,
    .separador {
        display: none;
    }

    .menu-responsivo {
        display: flex;
    }

    .container-postagem {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: center;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}
  
/* Celulares e tablets pequenos */
@media (min-width: 420px) and (max-width: 767px) {
    .menu,
    .separador {
        display: none;
    }

    .menu-responsivo {
        display: flex;
    }

    .container-postagem {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: center;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}
  
/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .menu,
    .separador {
        display: none;
    }

    .menu-responsivo {
        display: flex;
    }

    .container-postagem {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: center;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}
