/* Guia de Estilos */

:root {
    /* Fontes */
    --ff-khand: "Raleway", serif;

    /* Cores */
    --cor-primaria: #56AEFF;
    --cor-secundaria: #316697;
    --preto: #000;
    --branco: #fff;
    
    --background: #262626;

    --botao: #f0f0f0;
    --botao-hover: #ddd;
}

/* Tags - Padrão */

body {
    font-family: var(--ff-khand);
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/* Menu */

.menu {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo {
    width: 50%;
    margin-top: 180px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
        
.menu-list {
    list-style-type: none;
    padding: 0;
}
        
.menu-list li {
    margin-bottom: 10px;

}
        
.menu-list a {
    text-decoration: none;
    color: var(--preto);
    display: block;
    padding: 10px;
    background-color: var(--botao);
    border-radius: 5px;
    width: 100%;   
    display: flex;
    justify-content: flex-start;
}
        
.menu-list a:hover {
    background-color: var(--botao-hover);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--cor-primaria);
}

.separador {
    width: 1px;
    height: 100vh;
    background-color: var(--cor-primaria);
    position: absolute;
    left: 225px;
    top: 0;
    position: fixed;
}

/* Feed */

.feed {
    margin-left: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: var(--botao);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 900px; 
    margin: 0 auto; 
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-header .user-info {
    display: flex;
    flex-direction: column;
}

.post-header .user-info .username {
    font-weight: bold;
    font-size: 14px;
    color: var(--preto);
    margin-left: 10px;
}

.post-header .user-info .post-date {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}

.post img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-content {
    font-size: 16px;
    color: var(--preto);
    margin-bottom: 10px;
    font-type: bold
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-actions button {
    background-color: var(--cor-primaria);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-actions button:hover {
    background-color: var(--cor-secundaria);
}

.post-actions ion-icon {
    font-size: 20px;
}

.user-icon {
    font-size: 30px;
    cursor: pointer;
}

.user-icon:hover {
    color: var(--cor-secundaria);
}

/* Barra de Pesquisa */

.searchBar {
    display: none;
    align-items: center;
    border: 1px solid var(--cor-primaria);
    background-color: var(--branco);
    width: 400px;
    margin: 40px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--cor-secundaria);
    margin-left: calc(60% - 270px); 
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: var(--branco);
    width: 100%;
    outline: none;
}

.search-label {
    height: 20px;
}

#searchBar {
    display: none;
    opacity: 0;
    height: 0;
    transition: opacity 0.5s ease, height 0.5s ease;
}

#searchBar.show {
    display: flex;
    opacity: 1;
    height: auto;
}
