/* Guia de Estilos */

:root {
    /* Fontes */
    --ff-khand: "Raleway", serif;

    /* Cores */
    --cor-primaria: #56AEFF;
    --cor-secundaria: #316697;
    --preto: #000;
    --branco: #fff;
    
    --background: #262626;

    --botao: #f0f0f0;
    --botao-hover: #ddd;
}

/* Tags - Padrão */

body {
    font-family: var(--ff-khand);
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

/* Menu */

.menu {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo {
    width: 50%;
    margin-top: 180px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
        
.menu-list {
    list-style-type: none;
    padding: 0;
}
        
.menu-list li {
    margin-bottom: 10px;

}
        
.menu-list a {
    text-decoration: none;
    color: var(--preto);
    display: block;
    padding: 10px;
    background-color: var(--botao);
    border-radius: 5px;
    width: 100%;   
    display: flex;
    justify-content: flex-start;
}
        
.menu-list a:hover {
    background-color: var(--botao-hover);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--cor-primaria);
}

.separador {
    width: 1px;
    height: 100vh;
    background-color: var(--cor-primaria);
    position: absolute;
    left: 225px;
    top: 0;
    position: fixed;
}

/* Feed */

.feed {
    margin-left: 225px;
    padding: 20px;
    background-color: var(--preto);
}

.user-feed {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-feed {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: var(--branco);
}

.user-post {
    color: var(--branco);
}

.descricao-post {
    display: flex;
}

.p-post {
    color: var(--branco);
    margin-left: 70px;
    font-size: 18px;
}

.img-post {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 50px;
}

.interacoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.curtir {
    cursor: pointer;
    color: var(--cor-primaria);
    margin-right: 200px;
}

.comentar {
    cursor: pointer;
    color: var(--cor-primaria);
}

.interacoes ion-icon {
    font-size: 70px;
}

.interacoes ion-icon:hover {
    color: var(--cor-secundaria);
}
