/* Guia de Estilos */

:root {
    /* Fontes */
    --ff-khand: "Raleway", serif;

    /* Cores */
    --cor-primaria: #56AEFF;
    --cor-secundaria: #316697;
    --preto: #000;
    --branco: #fff;
    
    --background: #262626;

    --botao: #f0f0f0;
    --botao-hover: #ddd;
}

/* Tags - Padrão */

body {
    font-family: var(--ff-khand);
    margin: 0;
    padding: 0;
    background-color: var(--background);
    overflow-x: hidden; /* Evita a barra de rolagem horizontal */
}

/* Menu */

.menu {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.logo {
    width: 50%;
    margin-top: 180px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}
        
.menu-list {
    list-style-type: none;
    padding: 0;
}
        
.menu-list li {
    margin-bottom: 10px;
}
        
.menu-list a {
    text-decoration: none;
    color: var(--preto);
    display: block;
    padding: 10px;
    background-color: var(--botao);
    border-radius: 5px;
    width: 100%;   
    display: flex;
    justify-content: flex-start;
}
        
.menu-list a:hover {
    background-color: var(--botao-hover);
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    color: var(--cor-primaria);
}

.separador {
    width: 1px;
    height: 100vh;
    background-color: var(--cor-primaria);
    position: absolute;
    left: 225px;
    top: 0;
    position: fixed;
}

/* Pesquisar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid var(--cor-secundaria);
    background-color: var(--branco);
    width: 400px;
    margin: 40px auto;
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--cor-secundaria);
    margin-left: calc(58% - 400px); 
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: var(--branco);
    width: 100%;
    outline: none;
}

.search-label {
    height: 20px;
}

/* Cards */

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-left: 150px;
}

.card-esporte {
    width: 300px;
    margin: 20px;
    background-color: #333;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
}

.card-esporte img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.card-esporte:hover {
    transform: translateY(-10px);
    background-color: #555;
}
